<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Group2.chatfle.app" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Group2.chatfle.app.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Group2.chatfle.app.HomeActivity"
            android:label="@string/title_activity_home"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="com.Group2.chatfle.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity">
        </activity>
        <activity
            android:name="com.Group2.chatfle.app.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".HomeActivity"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>
</manifest>